</div>
</div>


<div class="footer-padding "></div>
<div class="footer fixed-bottom">
  <div class='console-container'><a class="footerlink" target="_blank" rel="noopener noreferrer"
      href="https://ea-emiratasoy.web.app"><span id='text'></span>
      <div class='console-underscore' id='console'>&#95;
    </a></div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="math.js" charset="utf-8"> </script>
</body>

</html>