<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="This is a website that makes math calculations">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Ea Developing, Ea Math, eamaths, Eamaths Permutation, Eamath Permutation Combination, EaMatamatik, EaMat, Maths">
  <meta name="author" content="Ea Developing">
  <title>EA Biology</title>
  <link rel="icon" href="Images/favicon.ico">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background-color:#D0E8F2">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="center " aria-current="page" href="/EaBiology">Beyin'in Bölümleri Test Soruları</a>
    </div>
  </nav>


  <div class="bigbox container">

    <div class="image-map-container">
      <img id="brain" src="/Images/bra.png" usemap="#veg">
      <map id="veg_map" name="veg">
          <area shape="poly" name="beyincik" coords="423,519,488,493,542,457,558,425,555,394,509,348,481,333,467,309,432,287,400,300,383,320,390,362,397,386,414,395,415,401,398,413,399,448,411,467,406,495" href="#">
          <area shape="poly" name="pons" coords="308,354,293,367,287,386,289,413,297,436,312,450,327,456,351,454,365,426,364,392,350,364,331,354" href="#">
          <area shape="poly" name="omurilikSoganı" coords="342,458,364,442,382,435,397,472,404,496,377,527,347,492,340,475" href="#">
          <area shape="poly" name="omurilik" coords="397,583,429,583,424,521,406,497,377,527,391,553" href="#">
          <area shape="poly" name="hipotalamus" coords="239,333,259,313,257,296,272,290,304,309,289,335,262,350,259,334" href="#">
          <area shape="poly" name="hipofiz" coords="239,388,253,388,265,380,269,367,258,363,263,351,254,350,245,363,237,369,234,379" href="#">
          <area shape="poly" name="talamus" coords="263,284,275,275,299,271,329,268,362,276,366,283,359,293,344,296,344,304,306,316,287,298" href="#">
          <area shape="poly" name="epitalamus" coords="371,284,386,286,366,262,347,248,320,246,284,258,272,272,283,273,325,265,352,270" href="#">
          <area shape="poly" name="nasırlıCisim" coords="243,289,248,282,202,258,199,243,220,231,248,228,274,224,301,223,333,231,353,239,364,253,376,273,394,280,410,267,412,248,
          404,226,386,212,356,207,310,195,278,191,252,197,203,208,168,221,154,235,149,255,156,270,170,281,199,286,218,278,233,278" href="#">
          <area shape="poly" name="hayatUcgeni" coords="248,280,259,275,271,255,289,246,313,239,345,245,355,246,317,229,290,226,266,227,244,230,224,234,207,242,201,251,210,261" href="#">
          <area shape="poly" name="frontalLob" coords="169,360,145,363,121,359,108,347,96,347,77,339,71,322,56,317,42,293,39,269,33,255,32,242,38,227,34,214,40,202,48,193,51,172,61,157,74,152,79,139,86,129,100,120,115,116,125,
          101,141,92,161,86,181,78,207,67,218,67,229,58,244,58,262,55,274,58,288,53,305,55,319,62,329,74,335,81,323,91,315,101,309,120,310,131,315,145,318,153,312,165,309,173,303,187,286,186,266,187,239,193,199,207,181,213,155,
          224,146,240,144,256,153,272,164,282,175,289,196,291,214,291,227,287,239,297,239,310,239,323,233,333,218,344,193,355" href="#">
          <area shape="poly" name="paryetelLob" coords="305,185,319,150,313,135,311,120,315,107,325,91,338,81,323,63,309,53,322,49,344,51,367,51,374,57,387,53,404,57,411,62,424,58,436,66,445,70,462,68,477,70,489,80,506,82,513,
          93,518,100,529,108,546,121,559,139,561,147,558,161,552,178,542,190,537,204,521,216,509,226,499,245,488,258,476,273,454,279,436,286,422,290,413,292,402,284,409,272,418,258,418,241,413,228,399,213,386,207,357,200,327,196" href="#">
          <area shape="poly" name="oksipitalLob" coords="556,395,571,390,583,384,595,367,604,357,605,338,608,327,615,315,612,294,616,275,613,261,607,247,607,234,605,212,597,201,590,199,589,184,581,171,569,163,566,152,560,159,555,176,
          545,187,543,200,532,208,521,216,511,228,504,240,490,258,486,266,471,278,461,281,439,287,444,294,457,296,472,316,485,334,506,344" href="#">

      </map>


      <div class="d-flex justify-content-around">
        <div name="A" class="selections" id="selectionsA">
              <b>A)</b>
        </div>
        <div name="B" class="selections" id="selectionsB">
              <b>B)</b>
        </div>
        <div name="C" class="selections" id="selectionsC">
              <b>C)</b>
        </div>
        <div name="D" class="selections" id="selectionsD">
              <b>D)</b>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <div id="selectionsTF">
              <b>() Doğru () Yanlış</b>
        </div>
      </div>

      <!-- <script src="http://www.outsharked.com/scripts/jquery.imagemapster.js"></script> -->

      <script src="https://rawgit.com/jamietre/ImageMapster/master/dist/jquery.imagemapster.min.js"></script>
      <script src="bio.js" charset="utf-8"> </script>
</div>



</div>
</div>


<div class="footer-padding "></div>
 <div class="footer fixed-bottom">
   <div class='console-container'><a class="footerlink" href="https://eadeveloping.web.app"><span id='text'></span><div class='console-underscore' id='console'>&#95;</a></div></div>
 </div>

<script src="math.js" charset="utf-8"> </script>

</body>

</html>
