<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="This is a website that makes math calculations">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Ea Developing, Ea Math, eamaths, Eamaths Permutation, Eamath Permutation Combination, EaMatamatik, EaMat, Maths">
  <meta name="author" content="Ea Developing">
  <title>EA Biology</title>
  <link rel="icon" href="Images/favicon.ico">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background-color:#D0E8F2">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="center " aria-current="page" href="/EaBiology">Biology App</a>
    </div>
  </nav>


  <div class="bigbox container">

    <div class="row">

      <div class="article-wrapper bloc col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a class="center" href="BeyinBolumleriniOgrenelim">
        <article>
          <div class="img-wrapper"><img src="/Images/bra.png" alt="" /></div>
          <div class="HeadboxHome" id="heading">
            <h1 id="Title">Beyin'in Kısımlarını Öğrenelim</h1>
          </div>
        </article>
        </a>
      </div>

      <div class="article-wrapper bloc col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a class="center" href="BeyinBolumleriTs">
        <article>
          <div class="img-wrapper"><img src="/Images/bra.png" alt="" /></div>
          <div class="HeadboxHome" id="heading">
            <h1 id="Title">Beyin'in Bölümleri Test Soruları</h1>
          </div>
        </article>
        </a>
      </div>

      <div class="article-wrapper bloc col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a class="center" href="BeyinBolumleriEs">
        <article>
          <div class="img-wrapper"><img src="/Images/bra.png" alt="" /></div>
          <div class="HeadboxHome" id="heading">
            <h1 id="Title">Beyin'in Bölümleri Eşleştirme Soruları</h1>
          </div>
        </article>
        </a>
      </div>

      <div class="article-wrapper bloc col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a class="center" href="BeyinBoslukDoldurma">
        <article>
          <div class="img-wrapper"><img src="/Images/bra.png" alt="" /></div>
          <div class="HeadboxHome" id="heading">
            <h1 id="Title">Beyin'in Boşluk Doldurma Soruları</h1>
          </div>
        </article>
        </a>
      </div>






<%- include("partials/footer") -%>

</html>
